.dropdown-hover:hover {
  color: black!important;
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}
.table-auto-width {
  width: auto;
  table-layout: auto;
}

.vr{
    display: inline-block;
    align-self: stretch;
    width: 1px;
    color: white;
    min-height: 1em;
    background-color: currentcolor;
    opacity: .25;
}