body{
  height: 100vh;
}
#root{
  height: 100%;
}

body[data-theme='light'] {
  background-color: white;
  color: black;
}


body[data-theme='dark'] {
  background-color: rgb(33, 37, 41);
  color: white;
}

body[data-theme='light'] .dark-mode{
  color: black!important;
}


body[data-theme='dark'] .dark-mode{
  color: white!important;
}


label{
  color: black;
}