body{
  height: 100vh;
  font-family: "Noto Sans", sans-serif !important;
}
#root{
  height: 100%;
}

/*  html[data-bs-theme='light'] {
  background-color: #f1f0eb;
  color: #212529;
}


html[data-bs-theme='dark'] {
  background-color: #212529;
  color: #f1f0eb;
} */

/* html[data-bs-theme='light'] .dark-mode{
  color: #212529!important;
}


html[data-theme='dark'] .dark-mode{
  color: #f1f0eb!important;
} 

 label{
  color: rgb(59, 59, 59);
} */