body{
  height: 100vh;
}
#root{
  height: 100%;
}

body[data-theme='light'] {
  background-color: rgb(241, 240, 235);
  color: #212529;
}


body[data-theme='dark'] {
  background-color: #212529;
  color: white;
}

body[data-theme='light'] .dark-mode{
  color: black!important;
}


body[data-theme='dark'] .dark-mode{
  color: white!important;
}


label{
  color: black;
}